<div id="footer">
    <h2>Verbuise.</h2>
    <p>
        Ready to take your content global? <a class="inline"
            href="https://app.verbuise.com/?onboard=true&trial=true">Start your free trial today!</a>
    </p>
    <p>
        <a class="inline" href="/pricing">Pricing</a>
        <a class="inline" href="/features">Features</a>
        <a class="inline" href="/about">About Us</a>
        <a class="inline" href="/blog">Blog</a>
        <a class="inline" href="/contact">Contact Us</a>
        <a class="inline" href="/legal">Legal</a>
    </p>
    <p>&copy; 2024 Verbuise</p>
</div>