<title>{{ page.title }}</title>
<link rel="stylesheet" href="https://use.typekit.net/kfq4nzn.css">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<meta name="description" content="{{ page.description }}">
<meta name="keywords"
    content="{{ page.keywords }}, ocalization platform, website localization, app localization, product localization,
    AI-powered localization, language translation, image localization, currency conversion API, localization API,
    translation service, multilingual website, global expansion, content localization, internationalization,
    localization tools, translation API, currency converter for websites, AI translation, global audience, localization
    strategy">
<meta name="author" content="Verbuise">
<meta name="viewport" content="width=device-width, initial-scale=1.0">