<nav>
    <div>
        <a class="logo" href="/">
            <img src="/assets/logo/1.svg" alt="Verbuise Logo - AI-Powered Localization Platform">
            <h1>Verbuise</h1>
        </a>

        <span class="three_lines">
            <button class="button-link"
                onclick="document.getElementById('nav_interactive').style.display = 'block'; document.body.style.overflow = 'hidden'">
                <span class="toggle_bar"></span>
                <span class="toggle_bar"></span>
                <span class="toggle_bar"></span>
            </button>
        </span>
        <span style="float: right;margin-right: 10px;margin-top: 5px;" class="nav_interactive" id="nav_interactive">
            <span class="three_lines_popup">
                <button class="button-link"
                    onclick="document.getElementById('nav_interactive').style.display = 'none'; document.body.style.overflow = 'inherit'">
                    ✕
                </button>
            </span>
            <div class="dropdown">
                <a class="dropdown_link  navigation" href="/pricing">
                    <span class="inter">
                        Pricing
                    </span>
                </a>

                <a class="dropdown_small  navigation" href="/pricing">
                    <span class="inter">
                        Pricing
                    </span>
                </a>
            </div>
            <div class="dropdown">
                <a class="dropdown_link  navigation" href="/blog">
                    <span class="inter">
                        Blog
                    </span>
                </a>

                <a class="dropdown_small  navigation" href="/blog">
                    <span class="inter">
                        Blog
                    </span>
                </a>
            </div>
            <div class="dropdown">
                <a class="navigation dropdown_click" href="javascript:dropdown('orgDropdown')">
                    <span class="inter">
                        Products <span class="up">⌄</span>
                    </span>
                </a>
                <a class="navigation dropdown_small">
                    <span class="inter">Products</span>
                </a>
                <div id="orgDropdown" class="dropdown-content right">
                    <a href="/features#ai">AI translation</a>
                    <a href="/features#text">Text localization</a>
                    <a href="/features#image">Image localization</a>
                    <a href="/features#financial">Currency conversion</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="navigation dropdown_click" href="javascript:dropdown('alertDropdown')">
                    <span class="inter">
                        Developers
                        <span class="up">⌄</span>
                    </span>
                </a>
                <a class="navigation dropdown_small">
                    <span class="inter">Developers</span>
                </a>
                <div id="alertDropdown" class="dropdown-content right">
                    <a href="https://developer.verbuise.com/">Developer site</a>
                    <a href="https://developer.verbuise.com/ref/api">API reference</a>
                    <hr>
                    <a href="https://developer.verbuise.com/ref/sdk/swift">Swift SDK</a>
                    <a href="https://developer.verbuise.com/ref/sdk/web">Web SDK</a>
                    <a href="https://developer.verbuise.com/ref/sdk">Other SDKs</a>
                </div>
            </div>
        </span>
    </div>
</nav>
    <script src="/assets/js/nav.js"></script>
