:root {
    font-family: 'Georgia', serif;
    zoom: 1.2;
    -moz-transform: scale(1.2);
    -moz-transform-origin: 0 0;
    /* fix for Chrome */
}

* {
    transition: 150ms;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    background-color: #e5e5f7;
    opacity: 0.95;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

h1 {
    font-family: 'Georgia', serif;
    line-height: 1.6;
}

hr {
    margin: 6px 8px;
    border-color: rgba(240, 240, 240, 0.3);
}

.inter {
    font-family: Inter, sans-serif;

    font-variant-ligatures: contextual;
    -moz-font-feature-settings: "calt";
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";
}

nav ul,
nav ul * {
    list-style-type: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
    z-index: 200;
}

nav ul {
    display: block;
    padding: 20px;
    background-color: black;
    color: white;
}

nav ul li a {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-top: 7.5px;
    margin-left: 20px;
    border-bottom: 3px solid black;
    transition: 200ms;
    cursor: pointer;
}

nav ul li a:hover {
    border-bottom: 3px solid white;
    transition: 200ms;
}

nav ul h1 {
    font-size: 30px;
    font-family: 'Georgia', serif;
    line-height: 1.6;
    font-weight: 400;
    border-bottom: 4px solid black;
    transition: 200ms;
}

.logo img {
    width: 50px;
    margin-bottom: -17px;
    display: inline-block;
}

nav ul h1:hover {
    border-bottom: 4px solid white;
    transition: 200ms;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul:hover {
    display: block;
}

nav ul li ul {
    display: block;
    position: absolute;
    display: none;
    border-radius: 15px;
    z-index: 0;
}

nav ul li ul li {
    display: block;
    padding: 10px 5px;
    background-color: black;
}

nav ul li ul li h2 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    border-bottom: 3px solid black;
    transition: 200ms;
    cursor: pointer;
}

#main {
    padding: 3vw;
    padding-top: 10vh;
    height: 100vh;
    color: rgb(0, 57, 45);
    max-width: 800px;
    margin: auto
}

#main h1 {
    font-weight: bold;
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

.caption {
    font-weight: normal;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 30px;
    background: rgba(201, 255, 244, 0.764);
    color: rgb(0, 67, 54);
    padding: 12px;
    border-radius: 8px;
}

.caption-alert {
    font-weight: normal;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 30px;
    background: rgba(255, 241, 201, 0.764);
    color: rgb(0, 67, 54);
    padding: 12px;
    border-radius: 8px;
}

.tag {
    padding: 2px 4px;
    background-color: rgb(255, 174, 0);
    display: inline-block;
    border-radius: 4px;
    color: black;
    font-size: smaller
}

#main a,
#post a.default {
    margin: 0 10px;
    background: transparent;
    padding: 5px 20px;
    border: 2px solid rgb(0, 164, 132);
    border-radius: 7px;
    font-size: small;
    font-weight: 500;
    margin-top: 10px;
    color: white;
    transition: 0.3s ease;
    text-align: center;
    box-shadow: 0 2.5px 15px rgb(0, 164, 132);
    font-family: 'Poppins';
}

#main a.primary,
#post a.default.primary{
    background: rgb(0, 134, 107);
    text-decoration: none;
    display: inline-block;
}

#main a.secondary,
#post a.default.secondary {
    background: rgba(201, 255, 244, 0.643);
    color: rgb(0, 134, 107);
    text-decoration: none;
    display: inline-block;
}

#main a:hover,
#post a.default:hover {
    border: 2px solid rgb(0, 134, 107);
}

#globe {
    position: absolute;
    left: -20px;
    top: 30%;
    z-index: -1;
    width: auto;
    max-width: calc(100vw + 20px);
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.column {
    float: left;
    width: 50%;
    padding: 20px;
    position: relative;
    height: 250px
}

.row {
    border-radius: 7px;
    padding: 0;
    background-color: #e5e5f7;
    opacity: 0.95;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    margin-bottom: 30px !important;
    width: 90%;
    max-width: 800px;
    margin: auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    width: 90%;
    border-radius: 12px;
    display: inline-block;
}

.column .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.column .content h2 {
    font-weight: 800;
    font-size: 30px;
    background-color: transparent;
    margin: 0;
    color: rgb(0, 67, 54);
}

@media (max-width: 700px) {
    .column {
        width: 100%;
        display: block;
        height: 300px;
    }

    .column .content {
        margin: 0 20px
    }
}

.icon {
    background: white;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-radius: 3px;
    margin-bottom: 5px;
}

.icon span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: x-large !important;
    margin: 0;
    padding: 0;
}

#features {
    margin-top: 40vh
}

#why {
    background-color: white;
    margin: 0;
    padding: 20px 40px;
    border-radius: 12px;
    margin-top: 60px;
}

#why .icon {
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: blue;
    padding: 5px;
    background: rgba(201, 255, 244, 0.643);
    display: inline-block;
    position: absolute;
    margin-top: 20px;
    margin-right: 10px;
    top: 0;
}

#why div {
    position: relative;
}

#why .detail {
    width: calc(100% - 70px);
    display: inline-block;
    margin-left: 70px;
}

#why .icon span {
    font-size: x-small;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 60px;
    padding: 80px;
    background: rgb(255, 255, 255);
}

a.inline {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
    color: rgb(0, 57, 45) !important;
    font-size: medium !important;
    border-bottom: 2px solid rgb(0, 57, 45) !important;
    border-radius: 0 !important;
    text-decoration: none;
    margin-right: 20px !important;
    margin-bottom: 20px !important;
    display: inline-block;
}

#footer p {
    color: rgb(0, 57, 45);
    font-size: medium;
}

#why h3 {
    margin-bottom: -5px;
}

#footer * {
    font-family: 'Georgia', serif;
    line-height: 1.6;
}

.post {
    list-style-type: none;
    padding: 1px 20px;
    border-left: 4px solid rgb(0, 67, 54);
    margin-bottom: 45px;
}

.post a p {
    font-family: 'Georgia', sans !important;
    line-height: 1.6 !important;
    text-align: left !important;
}

.post a {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    color: rgb(0, 67, 54) !important;
    box-shadow: none !important;
    text-decoration: none !important;
}

.post a h2 {
    text-align: left !important;
    font-size: 25px !important;
    font-weight: bold !important;
}

.post_small a p {
    font-size: 14px !important;
}

.post_small a h3 {
    font-size: 20px !important;
}

.post_small {
    padding: 0 30px;
}

.posts {
    background-color: white;
    padding: 20px 30px;
    padding-top: 1px;
    border-radius: 20px;
}

.posts > h3 {
    margin: 0;
    padding: 0;
    line-height: 1.1;
    padding-bottom: 15px;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: none;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
}


.pricing-table {
    width: calc(100% - 20px);
    min-width: 600px;
    margin: 10px;
    font-size: 0.9em;
    font-family: 'Arial', sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.pricing-table th,
.pricing-table td {
    padding: 8px 10px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-table th {
    background-color: transparent;
    color: black;
    font-weight: normal;
    text-transform: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pricing-table tr:last-child td {
    border-bottom: none;
}
