<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/post.css' | relative_url }}">
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <div id="post">
        <div class="breadcrumbs">
            <a href="{{ site.url }}{{ site.baseurl }}/">Home</a>/
            <a href="{{ site.url }}{{ site.baseurl }}/blog/">Blog</a>/
            <span>{{ page.title }}</span>
        </div>
        <br>
        <h1 style="margin-top: -20px !important">{{ page.title }}</h1>
        <p><small>{{ page.date | date: "%B %d, %Y" }}</small></p>
        {{ content }}

        <br><br>

        <ul class="posts">
            <h3>Some other articles</h3>

            {% assign random_posts = site.posts | sample: 2 %}
            {% for post in random_posts %}
            <li class="post post_small">
                <a href="{{ post.url }}" class="link">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.excerpt }}</p>
                    <p><small>{{ post.date | date: "%B %d, %Y" }}</small></p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% include footer.html %}
</body>

</html>